.App {
  text-align: center;
  width: 390px;
  height: 800px;
  background-image: url("ojbg.png");
}

.back {
  text-align: left;
}

.pfp {
  border: 2px solid black;
  display: flex;
  border-radius: 15px;
  width: 50px;
  overflow: hidden;
  float: right;
  margin-left: 50px;
  margin-right: 170px;
}

.container{
  display: flex;
  flex-direction: column;
  background-color: lightgrey;
  border-radius: 15px;
  border: 2px solid gray;
  text-align: center;
  
  margin-left: 50px;
  margin-right: 170px;

  width: 75%;
  justify-content: center;

}