#createNew{
    width: 390px;
    height: 844px;
    display: flex;
    justify-content: start;
    padding: 20px;
    flex-direction: column;
}
h1 {
    color:rgb(255, 255, 255);
    display: flex;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    justify-content: center;
    font-family: "roboto";
    
}
body{
    color:rgb(255, 255, 255);

}

#message{
    font-size: 13px;
    text-align: center;
    padding: 100px;
    width: 140px;
    height: 45px;
    color:rgb(255, 255, 255);

}
#cancel{
    position: absolute;
    margin-top: 25px;
    left: 10px;
    cursor: pointer;
    margin-right: 0.25em;
    
    border: none;
    background-color: #22223b00;
    color: #fefefe;

  }
  #cancel:hover {
    background-color: #4a4e6900;
    color: #c4bebe;
  }


