#feed{
    width: 390px;
    height: 844px;
    overflow:scroll;
    display: flex;
    justify-content: start;
    padding: 20px;
    flex-direction: column;
}

#notification{
    height: 50px;
    display: flex;
    flex-direction: row-reverse;
}

#notification img{
    height: 25px;
    width: 25px;
}

#notification img:hover{
    filter: brightness(60%);
    transition: filter 0.3s;
}
