.SelectPhoto {
}

/* .selectPhoto {
  display: flex;
}



.selectPhoto .details p {
  /* override the general setting for all paragraphs */
  /* margin-left: 0px;
}

.selectPhoto .details .title {
  font-size: 26px;
}*/
.SelectPhoto button {
  position: center;
  text-align: center;
  padding: 20px;
  background-color: transparent;
  color: white;
  border-radius: 10px;
  font-size: 26px;
}  
.SelectPhoto .select {
  height: 500px;
  background-image: white;
}